#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

.login-content{
  width: 25rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.login-button-row > button {
  margin: 3px;
}